$black: #495060;
$blue: #2d8cf0;
$grey: #dddee1;

.vTree-children {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
  overflow: hidden;
  color: $black;
  font-size: 14px;
  &-collapse {
    .vTree-leaf, .vTree-header {
      height: 0;
      opacity: 0;
    }
  }
  li {
    position: relative;
    ul {
      margin-left: 25px;
    }
  }
}

.vTree-icon-arrow {
  display: inline-block;
  position: relative;
  width: 0;
  top: 5px;
  border: 6px solid transparent;
  border-top: 8px solid $black;
  cursor: pointer;
  transition: all 0.3s;
  &-collapse {
    top: 2px;
    transform: rotate(-90deg);
  }
}

.vTree-checkbox {
  position: relative;
}
.vTree-checkbox-label {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 6px;
  top: 2px;
  border: 1px solid $grey;
  border-radius: 2px;
  background: white;
  transition: all 0.3s;
  &-disabled {
    background: #f3f3f3 !important;
    border-color: $grey !important;
    &.vTree-checkbox-label:after {
      border-color: #ccc;
    }
  }
  &-checked {
    background: $blue;
    border-color: $blue;
    &.vTree-checkbox-label:after {
      transform: rotate(45deg) scale(1);
    }
  }
  &-half {
    background: $blue;
    border-color: $blue;
    &.vTree-checkbox-label:after {
      transform: rotate(90deg) scale(1);
      width: 0;
      left: 6px;
      top: 2px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 8px;
    top: 1px;
    left: 5px;
    border: 2px solid #fff {
      top: 0;
      left: 0;
    };
    transform: rotate(45deg) scale(0);
    transition: all 0.3s;
    cursor: pointer;
  }
}
.vTree-checkbox-input {
  position: relative;
  top: 4px;
  left: 2px;
  width: 17px;
  height: 17px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  &-disabled {
  cursor: not-allowed;
}
}
.vTree-title {
  margin-left: 6px;
}
.vTree-leaf, .vTree-header {
   height: 24px;
   transition: all 0.3s;
 }